

.titleAutor {
  height: 200px;
  background-color: red;
}

.generalContainer {
  height: 820px;
  width: 1440px;
  background-color: #242731;
  //background: rgb(51,47,101);
  //background: linear-gradient(90deg, rgba(51,47,101,1) 4%, rgba(36,39,49,1) 19%, rgba(38,40,55,1) 82%, rgba(51,47,101,1) 96%);

}