

.generalContainer {

  width: 100%;
  background-color: #242731;

  &-head-list {
    height: 200px;
    background-color: yellow;
  }


}

 p {
   font-size: 18px;
   font-weight: 400;
   font-family: Gilroy;
   line-height: 26.64px;
   color: white;
 }
  strong {
  font-size: 18px;
  font-weight: 500;
  font-family: Gilroy;
  line-height: 26.64px;
  color: white;
}

  span {
    font-weight: 700;
    color: blue;
    font-family: "Gilroy";
    font-size: 14px;
    line-height: 16.8px;

  }

    input {
      width: 250px;
    }
